body {
  background-color: #EEEEEE;
  text-align:center;
  background-position: center;
   width: 750px;
    margin: 0 auto;
}


#rest-o-rant-title {
  color: #333333;
  textAlign: left;
  lineHeight: 33;
  font-family: OpenSans;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0;
  position: center;
}


#rest-o-rant-heading {
  color: #333333;
  textAlign: left;
  lineHeight: 43;
  font-family: OpenSans;
  font-size: 24px;
  color: #333333;
  letter-spacing: 0;
  position: center;
}


#searchbox {
 type: shape;
 rotation:0;
 opacity:1;
 radius:100;
 background: url( ../img/searchicon.png) no-repeat 4px 4px #FFFFFF;
 border: 1px solid rgba(0,0,0,0.10);
 border-radius: 100px 0 0 100px;
 font-size: 30px;

}

#searchbutton {
  type: shape;
  opacity:1;
  size: 100%;
  background: #22A7F0;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 0 100px 100px 0;
  color: #FFFFFF;
  position: center;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;

}

#searchresults {
  background-color: white;
  font-family: OpenSans;
  font-size: 18px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  width:80%;
  padding: 10px;
  border-bottom-style: solid;
}

#searchlist {
 list-style: none;
 border-bottom: thick;
}
