body {
    background-color: #EEEEEE;
    text-align:center;
    background-position: center;
    width: 750px;
    margin: 0 auto;
}


#rest-o-rant-title {
    color: #333333;
    textAlign: left;
    lineHeight: 20;
    font-family: Ubuntu;
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    position: center;
    padding-top: 50px;
}


#rest-o-rant-heading {
    color: #333333;
    textAlign: left;
    lineHeight: 43;
    font-family:"Ubuntu Light";
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    position: center;
    padding-top: 40px;
}

#searchpanel {
    padding-top: 100px;
    padding-bottom: 40px;
}


#searchbox {
    type: shape;
    opacity:1;
    radius:80;
    border: none;
    outline: none;
    border-radius: 100px 0 0 100px;
    font-size: 18px;
    font-family:"Ubuntu Light";
    background-color: white;
    background-image: url("http://www.w3schools.com/howto/searchicon.png");
    background-position: 10px 12px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width .4s ease-in-out;
    transition: width .4s ease-in-out;
}


#searchbutton {
    type: shape;
    opacity:1;
    size: 100%;
    outline: none;
    background: #22A7F0;
    border: 1px solid rgba(0,0,0,0.10);
    border-radius: 0 100px 100px 0;
    color: #FFFFFF;
    font-family: "Ubuntu Medium";
    position: center;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    padding: 10px

}

#searchresults {
    background-color: white;
    font-family: "Ubuntu Light";
    font-size: 16px;
    color: #333333;
    letter-spacing: 0;
    text-align: left;
    padding: 10px;
    border-bottom-style: inset;
    border-width: thin
}

#searchlist {
    list-style: none;
    border-bottom: thick;
}

.custom-search-form{
    margin-top:5px;
    align-content: center;
}